@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div style="text-align:center; width:100%">
        <img src="~/img/loading.gif"></img>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
